.btn{
    background-color: #001F3F;
    font-size:  larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

    
}

.btnElement{
    text-align: center;
}